 <main>
                
              <div class="cards">
                  <div class="card-single">
                      <div>
                          <h1>54</h1>
                          <span>Restaurant</span>
                      </div>
                          <div>
                          <span class="las la-users"></span>  
                          </div>
                      </div>
                      
                <div class="card-single">
                      <div>
                          <h1>76</h1>
                          <span>New</span>
                        </div>
                        <div>
                          <span class="las la-clipboard"></span>
                      </div>
                </div> 
                    
                <div class="card-single">
                      <div>
                          <h1>54</h1>
                          <span>Customers</span>
                      </div>
                          <div>
                          <span class="las la-users"></span>  
                          </div>
                      </div>
                      
                <div class="card-single">
                      <div>
                          <h1>Ksh.2000</h1>
                          <span>Charges</span>
                      </div>
                          <div>
                          <span class="lab la-google-wallet"></span>  
                          </div>
                      </div>
                 </div> 
              
                       
                       <div class="Customers">
                           <div class="card">
                               <div class="card-header">
                                   <h3>New Customers</h3>
                                   
                                   <button>See all<span class="las la-arrow-right"></span></button>
                               </div>
                               
                               <div class="card-body">
                                   <div class="customer">
                                    <div class="info">
                                        
                                     <img src="images/" width="40px" height="40px" alt="" />  
                                     <div>
                                         <h4>Lewis S.</h4>
                                         <small>Owner</small>
                                     </div>
                                    </div>
                            <div class="contact">
                               
                               <span class="las la-user-circle"></span>
                               <span class="las la-comment"></span>
                               <span class="las la-phone"></span>
                           </div>
                        </div>
                        
                        <div class="customer">
                                    <div class="info">
                                        
                                     <img src="images/" width="40px" height="40px" alt="" />  
                                     <div>
                                         <h4>Lewis S.</h4>
                                         <small>Owner</small>
                                     </div>
                                    </div>
                            <div class="contact">
                               
                               <span class="las la-user-circle"></span>
                               <span class="las la-comment"></span>
                               <span class="las la-phone"></span>
                           </div>
                        </div>
                        
                        <div class="customer">
                                    <div class="info">
                                        
                                     <img src="images/" width="40px" height="40px" alt="" />  
                                     <div>
                                         <h4>Lewis S.</h4>
                                         <small>Owner</small>
                                     </div>
                                    </div>
                            <div class="contact">
                               
                               <span class="las la-user-circle"></span>
                               <span class="las la-comment"></span>
                               <span class="las la-phone"></span>
                           </div>
                        </div>
                        
                        <div class="customer">
                                    <div class="info">
                                        
                                     <img src="images/" width="40px" height="40px" alt="" />  
                                     <div>
                                         <h4>Lewis S.</h4>
                                         <small>Owner</small>
                                     </div>
                                    </div>
                            <div class="contact">
                               
                               <span class="las la-user-circle"></span>
                               <span class="las la-comment"></span>
                               <span class="las la-phone"></span>
                           </div>
                        </div>
                        
                    </div>
                    
                   </div> 
                 </div>   
                </div> 
                  
            </main>   