<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
	<div class="sidebar">
		<div class="profile">
			<h1>Adminpanel</h1>
			<section class="profile-info">
				<h3>Page Admin</h3>
				<img src="">
				<button>Update Profile</button>
			</section>
		</div>
		<nav class="nav-bar">
			<ul>
				<li>Home</li>
				<li>Add Post</li>
				<li>View Posts</li>
				<li>Comments</li>
				<li>Logout</li>
			</ul>
			<div class="btn">
				<button>Logout</button>
			</div>
		</nav>
		
	</div>

</body>
</html>