<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Welcome to Foodie</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">

</head>
        
<body>

  <div class="links">
    <nav>      
      <ul>
        <li><a href="templates/homepage.php">Home</a></li>
        <li><a href="templates/listing.php">Features</a></li>
        <li><a href="templates/signup.php">Sign up</a></li>
      </ul>
    </nav>
</div>

<body>

  <div class="signup-form">
        <form action="signup.php" method="POST">
            <?php include('errors.php') ?>
        <div class="title">
            <h3>Sign Up</h3>
        </div>
            <div class="subtitle">
                <i class="fas fa-user">
                <input type="text" name="username" placeholder="Enter username" value="<?php echo $username ?>">
                </i>
            </div>
            <div class="subtitle">
                <i class="fas fa-envelope">
                <input type="email" name="email" placeholder="Enter Email" value="<?php echo $email ?>">
                </i>
            </div>
            <div class="subtitle">
                <i class="fas fa-key">
                <input type="password" name="password_1" placeholder="Enter password">
                </i>
            </div>
            <div class="subtitle">
                <i class="fas fa-key">
                <input type="password" name="password_2" placeholder="Confirm password">
                </i>
            </div>
            <div class="login-btn">
                <button type="submit" name="reg_user">Register</button>
            </div>
            <span><p>Already have an account?<a href="login.php">Login</a></p></span>
        
    </form>
    </div>
    
</body>
</html>